USE [master]
GO
/****** Object:  Database [PRJ_BL5_Assignment]    Script Date: 8/18/2022 12:25:43 PM ******/
CREATE DATABASE [PRJ_BL5_Assignment]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRJ_BL5_Assignment', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PRJ_BL5_Assignment.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRJ_BL5_Assignment_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PRJ_BL5_Assignment_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRJ_BL5_Assignment].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRJ_BL5_Assignment]
GO
/****** Object:  Table [dbo].[Allowance]    Script Date: 8/18/2022 12:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Allowance](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Allowance] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Emp_Insurance]    Script Date: 8/18/2022 12:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emp_Insurance](
	[Employee_id] [nvarchar](10) NOT NULL,
	[ins_id] [int] NOT NULL,
 CONSTRAINT [PK_Emp_Insurance] PRIMARY KEY CLUSTERED 
(
	[Employee_id] ASC,
	[ins_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 8/18/2022 12:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Employee_id] [nvarchar](10) NOT NULL,
	[Employee_Name] [nvarchar](max) NOT NULL,
	[pID] [int] NOT NULL,
	[base_Salary] [money] NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee_Allowance]    Script Date: 8/18/2022 12:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee_Allowance](
	[Employee_id] [nvarchar](10) NOT NULL,
	[Allow_id] [int] NOT NULL,
	[amount] [money] NOT NULL,
 CONSTRAINT [PK_Employee_Allowance] PRIMARY KEY CLUSTERED 
(
	[Employee_id] ASC,
	[Allow_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Festival]    Script Date: 8/18/2022 12:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Festival](
	[fesID] [int] IDENTITY(1,1) NOT NULL,
	[time_from] [date] NOT NULL,
	[time_to] [date] NOT NULL,
	[Festival_Name] [nvarchar](max) NOT NULL,
	[co_feswork] [real] NOT NULL,
 CONSTRAINT [PK_Festival] PRIMARY KEY CLUSTERED 
(
	[fesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Insurance]    Script Date: 8/18/2022 12:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Insurance](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](10) NULL,
	[percent] [real] NOT NULL,
 CONSTRAINT [PK_Insurance] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Leave]    Script Date: 8/18/2022 12:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leave](
	[leave_id] [int] NOT NULL,
	[Employee_Id] [nvarchar](10) NOT NULL,
	[cID] [int] NOT NULL,
	[reason_id] [int] NOT NULL,
	[from] [datetime] NOT NULL,
	[to] [datetime] NOT NULL,
 CONSTRAINT [PK_Leave] PRIMARY KEY CLUSTERED 
(
	[leave_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Overtime]    Script Date: 8/18/2022 12:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Overtime](
	[overtime_id] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NOT NULL,
	[Hour] [real] NOT NULL,
	[isCheck] [bit] NOT NULL,
	[Employee_id] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Overtime] PRIMARY KEY CLUSTERED 
(
	[overtime_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Position]    Script Date: 8/18/2022 12:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[pID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Position] PRIMARY KEY CLUSTERED 
(
	[pID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reason]    Script Date: 8/18/2022 12:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reason](
	[reason_id] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[isCheck] [bit] NOT NULL,
 CONSTRAINT [PK_Reason] PRIMARY KEY CLUSTERED 
(
	[reason_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Working_time]    Script Date: 8/18/2022 12:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Working_time](
	[work_ID] [int] IDENTITY(1,1) NOT NULL,
	[work_date] [date] NOT NULL,
	[Employee_id] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Working_time] PRIMARY KEY CLUSTERED 
(
	[work_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Allowance] ON 

INSERT [dbo].[Allowance] ([id], [name]) VALUES (1, N'Tiền điện thoại')
INSERT [dbo].[Allowance] ([id], [name]) VALUES (2, N'Tiền Trách Nhiệm')
SET IDENTITY_INSERT [dbo].[Allowance] OFF
GO
INSERT [dbo].[Emp_Insurance] ([Employee_id], [ins_id]) VALUES (N'nv01', 1)
INSERT [dbo].[Emp_Insurance] ([Employee_id], [ins_id]) VALUES (N'nv01', 2)
INSERT [dbo].[Emp_Insurance] ([Employee_id], [ins_id]) VALUES (N'nv01', 3)
GO
INSERT [dbo].[Employee] ([Employee_id], [Employee_Name], [pID], [base_Salary]) VALUES (N'nv01', N'Lê Hoàng Anh
', 1, 17000000.0000)
INSERT [dbo].[Employee] ([Employee_id], [Employee_Name], [pID], [base_Salary]) VALUES (N'nv02', N'Nguyễn Quang Hòa
', 2, 6000000.0000)
INSERT [dbo].[Employee] ([Employee_id], [Employee_Name], [pID], [base_Salary]) VALUES (N'nv03', N'Hoàng Thị H.Khuyên
', 3, 7000000.0000)
GO
INSERT [dbo].[Employee_Allowance] ([Employee_id], [Allow_id], [amount]) VALUES (N'nv03', 1, 200000.0000)
INSERT [dbo].[Employee_Allowance] ([Employee_id], [Allow_id], [amount]) VALUES (N'nv04', 2, 500000.0000)
GO
SET IDENTITY_INSERT [dbo].[Festival] ON 

INSERT [dbo].[Festival] ([fesID], [time_from], [time_to], [Festival_Name], [co_feswork]) VALUES (1, CAST(N'2020-09-01' AS Date), CAST(N'2020-09-03' AS Date), N'Ngày Quốc Khánh', 4)
INSERT [dbo].[Festival] ([fesID], [time_from], [time_to], [Festival_Name], [co_feswork]) VALUES (3, CAST(N'2020-01-23' AS Date), CAST(N'2020-01-30' AS Date), N'Tết Nguyên Đán', 3)
INSERT [dbo].[Festival] ([fesID], [time_from], [time_to], [Festival_Name], [co_feswork]) VALUES (4, CAST(N'2020-04-02' AS Date), CAST(N'2020-04-02' AS Date), N'Giỗ Tổ Hùng Vương', 4)
SET IDENTITY_INSERT [dbo].[Festival] OFF
GO
SET IDENTITY_INSERT [dbo].[Insurance] ON 

INSERT [dbo].[Insurance] ([id], [name], [percent]) VALUES (1, N'BHXH', 0.08)
INSERT [dbo].[Insurance] ([id], [name], [percent]) VALUES (2, N'BHYT', 0.015)
INSERT [dbo].[Insurance] ([id], [name], [percent]) VALUES (3, N'BHTN', 0.01)
SET IDENTITY_INSERT [dbo].[Insurance] OFF
GO
SET IDENTITY_INSERT [dbo].[Overtime] ON 

INSERT [dbo].[Overtime] ([overtime_id], [date], [Hour], [isCheck], [Employee_id]) VALUES (1, CAST(N'2020-11-01' AS Date), 3, 1, N'nv04')
INSERT [dbo].[Overtime] ([overtime_id], [date], [Hour], [isCheck], [Employee_id]) VALUES (2, CAST(N'2020-11-02' AS Date), 3, 1, N'nv04')
INSERT [dbo].[Overtime] ([overtime_id], [date], [Hour], [isCheck], [Employee_id]) VALUES (3, CAST(N'2020-11-03' AS Date), 3, 1, N'nv04')
SET IDENTITY_INSERT [dbo].[Overtime] OFF
GO
SET IDENTITY_INSERT [dbo].[Position] ON 

INSERT [dbo].[Position] ([pID], [Name]) VALUES (1, N'Trưởng Phòng Kỹ Thuật')
INSERT [dbo].[Position] ([pID], [Name]) VALUES (2, N'Nhân Viên Kỹ Thuật')
INSERT [dbo].[Position] ([pID], [Name]) VALUES (3, N'Kế Toán')
SET IDENTITY_INSERT [dbo].[Position] OFF
GO
INSERT [dbo].[Reason] ([reason_id], [Name], [isCheck]) VALUES (1, N'Nghỉ đẻ', 1)
INSERT [dbo].[Reason] ([reason_id], [Name], [isCheck]) VALUES (2, N'Nghỉ đi du lịch với người yêu', 0)
INSERT [dbo].[Reason] ([reason_id], [Name], [isCheck]) VALUES (3, N'Không có lý do', 0)
GO
SET IDENTITY_INSERT [dbo].[Working_time] ON 

INSERT [dbo].[Working_time] ([work_ID], [work_date], [Employee_id]) VALUES (94, CAST(N'2020-11-01' AS Date), N'nv01')
INSERT [dbo].[Working_time] ([work_ID], [work_date], [Employee_id]) VALUES (95, CAST(N'2020-11-02' AS Date), N'nv01')
INSERT [dbo].[Working_time] ([work_ID], [work_date], [Employee_id]) VALUES (96, CAST(N'2020-11-03' AS Date), N'nv01')
GO
SET IDENTITY_INSERT [dbo].[Working_time] OFF
GO
ALTER TABLE [dbo].[Emp_Insurance]  WITH CHECK ADD  CONSTRAINT [FK_Emp_Insurance_Employee] FOREIGN KEY([Employee_id])
REFERENCES [dbo].[Employee] ([Employee_id])
GO
ALTER TABLE [dbo].[Emp_Insurance] CHECK CONSTRAINT [FK_Emp_Insurance_Employee]
GO
ALTER TABLE [dbo].[Emp_Insurance]  WITH CHECK ADD  CONSTRAINT [FK_Emp_Insurance_Insurance] FOREIGN KEY([ins_id])
REFERENCES [dbo].[Insurance] ([id])
GO
ALTER TABLE [dbo].[Emp_Insurance] CHECK CONSTRAINT [FK_Emp_Insurance_Insurance]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Position] FOREIGN KEY([pID])
REFERENCES [dbo].[Position] ([pID])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Position]
GO
ALTER TABLE [dbo].[Employee_Allowance]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Allowance_Allowance] FOREIGN KEY([Allow_id])
REFERENCES [dbo].[Allowance] ([id])
GO
ALTER TABLE [dbo].[Employee_Allowance] CHECK CONSTRAINT [FK_Employee_Allowance_Allowance]
GO
ALTER TABLE [dbo].[Employee_Allowance]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Allowance_Employee] FOREIGN KEY([Employee_id])
REFERENCES [dbo].[Employee] ([Employee_id])
GO
ALTER TABLE [dbo].[Employee_Allowance] CHECK CONSTRAINT [FK_Employee_Allowance_Employee]
GO
ALTER TABLE [dbo].[Leave]  WITH CHECK ADD  CONSTRAINT [FK_Leave_Employee] FOREIGN KEY([Employee_Id])
REFERENCES [dbo].[Employee] ([Employee_id])
GO
ALTER TABLE [dbo].[Leave] CHECK CONSTRAINT [FK_Leave_Employee]
GO
ALTER TABLE [dbo].[Leave]  WITH CHECK ADD  CONSTRAINT [FK_Leave_Reason] FOREIGN KEY([reason_id])
REFERENCES [dbo].[Reason] ([reason_id])
GO
ALTER TABLE [dbo].[Leave] CHECK CONSTRAINT [FK_Leave_Reason]
GO
ALTER TABLE [dbo].[Overtime]  WITH CHECK ADD  CONSTRAINT [FK_Overtime_Employee] FOREIGN KEY([Employee_id])
REFERENCES [dbo].[Employee] ([Employee_id])
GO
ALTER TABLE [dbo].[Overtime] CHECK CONSTRAINT [FK_Overtime_Employee]
GO
ALTER TABLE [dbo].[Working_time]  WITH CHECK ADD  CONSTRAINT [FK_Working_time_Employee] FOREIGN KEY([Employee_id])
REFERENCES [dbo].[Employee] ([Employee_id])
GO
ALTER TABLE [dbo].[Working_time] CHECK CONSTRAINT [FK_Working_time_Employee]
GO
USE [master]
GO
